
/* browser reset */
* {
    font-family: 'Oswald', sans-serif;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    box-sizing: border-box;
}
.clearbox {
    clear: both;
}

body {
    background-color: lightcyan;
}


/* Grid */
.website {

    background-color: pink;
    margin: 20px auto 20px auto;
    max-width: 1620px;

}

.innerWebsite {
    margin: 20px;
    background-color: deeppink;
}

a {
    color: green;
}

a:hover {
    color: white;
}



/* Teaser */
/*
.flexSystem {
    display: flex;
}
*/

.teaser {
    width: calc(33.3333% - 20px);
    height: 300px;
    background-color: greenyellow;
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.gold {
    background-image: url("../images/bild.jpg");
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    position: relative;

}
.gold:before {
    content: "Hallo";
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    left: -110px;
    background-color: blue;
}




/* Tablet */
@media (max-width: 1000px) {
    .teaser {

        background-color: blue;
        width: calc(50% - 20px);

    }

}


/* Mobiles */
@media (max-width: 400px) {
    .teaser {

        background-color: gray;
        width: calc(100% - 20px);

    }

}